
/*HELLYTON NOTATION*/

html{

}
.bg-gradient {
    /*--bs-gradient: linear-gradient(90deg, rgba(37,130,159,1) 0%, rgba(44,69,106,1) 50%, rgba(28,30,67,1) 100%);*/
    --bs-gradient: linear-gradient(90deg, rgba(28,30,67,1) 0%, rgba(44,69,106,1) 50%, rgba(37,130,159,1) 70%);
    background-image: var(--bs-gradient) !important;
}
.bg-logo {
    background-image: url("../lib/images/main-logo.png");
}

.bg-opacity-dark {

    background: linear-gradient(90deg, rgba(0,0,0,0.50) 0%, rgba(0,0,0,0.50) 100%);
}
.bg-grey {
    background-color: #D7D7D7;
}
.bg-main-image {
    background-image: url("../lib/images/total-cover-2.jpg");
    background-repeat: repeat;
}
.bg-results-image {
    background-image: url("../lib/images/result_page.png");
    background-repeat: space;
    background-size: cover;
}
.bg-gradient-results {
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(193,217,255,0.35) 100%);
}
.sombra {
    box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 15px 0px rgba(0,0,0,0.75);
}
.circle {
    background-color: transparent;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
}

.circle img {
        position: absolute;
        bottom: -125px;
        width: 100%;

}

.btn-blue {
    background-color: #12356D;
    border-color: #12356D;

}
    .btn-blue:hover {
        background-color: #0C2349;
        border-color: #0C2349;
    }
h1 {
    font-size: 3.5vw;
}


@media (max-width: 600px) {
    h1 {
        font-size: 8vw !important;
    }
    h2 {
        font-size: 5vw !important;
        text-align: center !important;

    }
    .mobile-display{
        display: flex;
        text-align: start;
        margin-left: 0px;
        text-align: center;
    }
    h4 {
        font-size: 3vw;
    }

}


@media (max-width: 900px) {
    .card-luan{
        text-align: center;
    }
}

@media (min-width: 920px) {
    .mobile-display {
        display: none;
    }

}


/* CAROUSEL */


.wrapper {
    width: 100%;
    margin: 0 auto;
    max-width: 70em;
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.carousel-col {
    width: 22%;
    min-width: 250px;
    margin: 1rem;
    cursor: pointer;
}

.carousel-card {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    /*    background: #cedce7;
    background: -webkit-linear-gradient(45deg, #cedce7 0%,#596a72 100%);
    background: -o-linear-gradient(45deg, #cedce7 0%,#596a72 100%);
    background: linear-gradient(45deg, #cedce7 0%,#596a72 100%);*/
    background-color: rgba(28,30,67);
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.carousel-card:hover .front,
.carousel-card:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    padding: 2rem;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.carousel-card .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-card .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-card:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.carousel-card:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 2rem;
    margin-bottom: 2rem;
    position: relative;
}

    .front .inner p:after {
        content: '';
        width: 4rem;
        height: 2px;
        position: absolute;
        background: #C6D4DF;
        display: block;
        left: 0;
        right: 0;
        margin: 0 auto;
        bottom: -.75rem;
    }

.front .inner span {
    color: rgba(255,255,255,0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}

@media screen and (max-width: 64rem) {
    .carousel-col {
        width: calc(33.333333% - 2rem);
    }
}

@media screen and (max-width: 48rem) {
    .carousel-col {
        width: calc(50% - 2rem);
    }
}

@media screen and (max-width: 32rem) {
    .carousel-col {
        width: 100%;
        margin: 0 0 2rem 0;
    }
}

/* CHART */
#chart {
    text-align: left;

    margin: 32px auto;
    background: transparent;
}