<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="~/lib/images/luan-icon.ico" type="image/x-icon">
    <title>@ViewData["Title"] - Trasforme Seu</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="~/js/ModalContato.js"></script>
    
    <link rel="stylesheet" href="~/css/general-styles.css" />

</head>
<body>

    <div class="modal fade" id="aviso" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Understood</button>
                </div>
            </div>
        </div>
    </div>
    <header class="bg-primary" style="border:none">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-purple border-bottom box-shadow border-0 border-bottom-0">
            <div class="container-fluid">
                
                <a class="navbar-nav mx-0 px-0" asp-area="" asp-controller="Home" asp-action="Index">
                    <img class="mx-3 card-img" style="width: 100%; max-width:260px; min-width: 200px;" src="~/lib/images/main-logo.png" asp-append-version="true" />
                </a>
                <button class="navbar-toggler navbar-dark border-0 " type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex btn-outline-light justify-content-between bg-transparent">

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item mx-4">
                            <a class="nav-link text-center text-light" asp-area="" asp-controller="AssessmentForm" asp-action="Index">Maturidade Digital</a>
                        </li>                   
@*                         <li class="nav-item mx-4">
                            <a class="nav-link text-center text-light" asp-area="" asp-controller="" asp-action="">Artigos</a>
                        </li> *@
                        <li class="nav-item mx-4">
                            <a class="nav-link text-center text-light" href="https://linktr.ee/luandonde" target="_blank">Links</a>
                        </li>
                        <li class="nav-item mx-4">
                            <a class="nav-link text-center text-light" href="#card-luan">Contato</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="m-0 p-0">
        <main role="main" class="">
            @RenderBody()
        </main>
    </div>

    <footer class="bg-gradient border-top-0 footer text-white">
        <div class="container footer col-12 align-content-center justify-content-evenly" style="min-height:70px;">
            <div class="row m-0">
                <div class="col my-2 align-content-center">
                    <h5 class="my-2 fw-light">
                        Luan Dondé | Transformação Digital
                    </h5>
                </div>
                <div class="col-auto my-2 align-content-center">
                    <img class="mx-1" style="width:60px;" src="~/lib/images/logo-profnit.png" alt="Logo da Profinit" />
                    <img class="mx-1" style="width:50px;" src="~/lib/images/logo-fortec.png" alt="Logo da Fortec" />
                    <img class="mx-1" style="width:50px; align-self: end;" src="~/lib/images/logo-ufsc.png" alt="Logo da UFSC" />
                </div>
            </div>
            
        </div>
        <div class="container">
        </div>
    </footer>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/Chart.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
