@model AssessmentForm

@{
    ViewData["Title"] = "Formulário";
    // AssessmentForm obj = new AssessmentForm();
    var obj = Model;

}
@* 
<p>
    @obj.CompanyCNPJ
</p>
<p>
    @obj.CompanySector
</p> *@


<h2 class="bg-transparent text-uppercase text-primary fw-bolder my-5 text-center m-auto" style="max-width: 80%">
    COMO SUA EMPRESA ESTÁ EM RELAÇÃO A MATURIDADE DIGITAL?
</h2>
<p class="m-auto fs-5" style="max-width: 80%; text-align: justify;">
    Aqui você está a poucos passos de saber um pouco mais sobre como sua organização está posicionada e
    descobrir alguns insights que podem mudar o futuro do seu negócio.
</p>


<div class="card shadow border-0 my-4 m-auto rounded-5 bg-grey" style="max-width: 80%; border-radius:50px;">

    <div class="row">
        <div class="col-12 text-center mt-3">
            <h4 class="text-primary fw-bolder text-uppercase py-1">Avaliação da Maturidade Digital</h4>
        </div>
    </div>


    <form method="post" class="row">
        <div asp-validation-summary="ModelOnly"></div>
        <h1>
        </h1>
        @*         <label asp-for="AssessmentForm.Contato" class="ms-2"></label>
        <br />
        <br />
        <br /> *@

        <!--CULTURA E PESSOAS-->
        <div class="card-subtitle bg-gradient mb-2 text-center rounded-5 w-75 m-auto mb-4">
            <h2 class="text-white py-1 mb-0">Cultura e Pessoas</h2>
        </div>
        <div class="row w-100">

            <div class="row text-center">
                <h5>Promove a colaboração entre as equipes de diferentes departamentos e áreas de especialização.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura1" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura1" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura1" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura1" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura1" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Cultura1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Para organização de tarefas de equipe utiliza ferramentas de gerenciamento ágil, como quadros Kanban ou similares.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura2" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura2" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura2" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura2" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura2" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Cultura1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Nossa liderança tem um claro entendimento de como as tendências digitais e tecnologias emergentes têm mudado o cenário de atuação do seu setor de atividade.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura3" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura3" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura3" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura3" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura3" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Cultura3" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Minha empresa oferece treinamentos frequentes e eficazes em habilidades digitais.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura4" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura4" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura4" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura4" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura4" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Cultura4" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Existe um estímulo organizacional para que as pessoas tenham espaço para dar sua opinião ou sugerir novas ideias.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura5" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura5" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura5" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura5" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura5" value="100">
                </div>
                <p class="col-auto text-end">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Cultura5" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Nós estamos cientes dos novos perfis profissionais de que nossa empresa precisará no futuro e já estamos empenhados hoje para captar e formar esses perfis.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura6" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura6" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura6" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura6" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Cultura6" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Cultura6" class="text-danger text-center"></span>
        </div>


        <!--EXPERIÊNCIA DO CLIENTE-->
        <div class="card-subtitle bg-gradient mb-2 text-center rounded-5 w-75 m-auto mb-4">
            <h2 class="text-white py-1 mb-0">Experiência do Cliente</h2>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Nós conhecemos a jornada do nosso cliente, estamos focados em entender suas preferências de consumo online
                    e usar essa informação para potencializar novas vendas digitais.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia1" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia1" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia1" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia1" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia1" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Experiencia1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>A empresa usa diferentes estratégias nos canais digitais para aumentar o engajamento do consumidor.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia2" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia2" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia2" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia2" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia2" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Experiencia2" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Considera importante as avaliações dos clientes para o posicionamento de mercado da nossa marca.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia3" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia3" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia3" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia3" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia3" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Experiencia3" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Incentivamos nossos clientes a usar canais digitais para se comunicar conosco em todas as etapas do processo de venda, incluindo pré-venda, pós-venda e SAC.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia4" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia4" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia4" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia4" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia4" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Experiencia4" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Possui serviço de marketing e vendas capacitado para aproveitar as oportunidades digitais.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia5" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia5" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia5" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia5" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia5" value="100">
                </div>
                <p class="col-auto text-end">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Experiencia5" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Utiliza ferramenta que permite o gerenciamento de relacionamento com clientes.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia6" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia6" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia6" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia6" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Experiencia6" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Experiencia6" class="text-danger text-center"></span>
        </div>

        <!--MERCADO E CONCORRÊNCIA-->
        <div class="card-subtitle bg-gradient mb-2 text-center rounded-5 w-75 m-auto mb-4">
            <h2 class="text-white py-1 mb-0">Mercado e Concorrência</h2>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Nossa organização tem uma visão clara do futuro, e para isso, utilizamos como referência empresas líderes de mercado em nosso setor de atividade.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado1" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado1" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado1" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado1" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado1" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Mercado1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Estamos abertos a cooperar com os concorrentes, trabalhando em rede para cocriar e gerar mais valor para os nossos clientes.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado2" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado2" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado2" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado2" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado2" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Mercado2" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Em relação aos nossos concorrentes, temos maior capacidade para reagir rapidamente às oportunidades e desafios do mercado.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado3" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado3" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado3" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado3" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado3" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Mercado3" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Acompanhamos empresas ou startups que surgem com novos modelos de negócio, mesmo que não estejam diretamente relacionados ao nosso setor,
                    pois podem ter um grande impacto em nosso negócio.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado4" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado4" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado4" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado4" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Mercado4" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Mercado4" class="text-danger text-center"></span>
        </div>

        <!--INOVAÇÃO-->
        <div class="card-subtitle bg-gradient mb-2 text-center rounded-5 w-75 m-auto mb-4">
            <h2 class="text-white py-1 mb-0">Inovação</h2>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Investe em pesquisa, desenvolvimento e inovação para criar soluções competitivas de acordo com as tendências do mercado.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao1" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao1" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao1" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao1" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao1" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Inovacao1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Colabora com parceiros externos, como startups ou empresas de tecnologia, para impulsionar a inovação.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao2" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao2" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao2" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao2" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao2" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Inovacao2" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>Identifica oportunidades de crescimento de receita por meio de inovação e novos modelos de negócios.</h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao3" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao3" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao3" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao3" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao3" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Inovacao3" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    A empresa investe na realização de experimentos para tomar decisões mais acertadas sobre quais iniciativas levar adiante.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao4" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao4" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao4" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao4" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Inovacao4" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Inovacao4" class="text-danger text-center"></span>
        </div>

        <!---PROCESSOS-->
        <div class="card-subtitle bg-gradient mb-2 text-center rounded-5 w-75 m-auto mb-4">
            <h2 class="text-white py-1 mb-0">Processos</h2>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Todos os nossos principais processos internos já estão digitalizados.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos1" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos1" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos1" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos1" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos1" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Processos1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Os colaboradores têm acesso a uma base de dados interna com informações e recursos necessários para a execução eficaz dos processos.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos2" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos2" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos2" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos2" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos2" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Processos2" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Nossa prioridade é gerar mais autonomia e melhorar a experiência das pessoas, reduzindo o esforço das atividades repetitivas.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos3" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos3" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos3" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos3" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos3" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Processos3" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Temos um conjunto suficiente de sistemas e ferramentas internos, e os principais já estão integrados.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos4" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos4" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos4" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos4" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos4" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Processos4" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Para elaboração de textos, planilhas, apresentações e arquivos utilizamos ambiente de compartilhamento em nuvem.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos5" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos5" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos5" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos5" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Processos5" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Processos5" class="text-danger text-center"></span>
        </div>

        <!---MODELOS DE NEGÓCIOS-->
        <div class="card-subtitle bg-gradient mb-2 text-center rounded-5 w-75 m-auto mb-4">
            <h2 class="text-white py-1 mb-0">Modelos de Negócio</h2>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Utilizamos canais digitais, como site, Google Meu Negócio e alguns perfis em redes sociais.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos1" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos1" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos1" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos1" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos1" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Modelos1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Caso seja necessário, é possível que eu trabalhe de forma remota e tenha acesso a todos os recursos necessários para desempenhar minhas atividades.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos2" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos2" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos2" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos2" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos2" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Modelos2" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Nosso modelo suporta um aumento na produção ou oferta de serviços sem comprometer a estrutura ou rentabilidade da empresa.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos3" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos3" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos3" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos3" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos3" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Modelos3" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Estamos sempre atentos às necessidades dos nossos clientes e adaptando nossa proposta de valor para o sucesso do cliente.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos4" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos4" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos4" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos4" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Modelos4" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Modelos4" class="text-danger text-center"></span>
        </div>

        <!---DADOS-->
        <div class="card-subtitle bg-gradient mb-2 text-center rounded-5 w-75 m-auto mb-4">
            <h2 class="text-white py-1 mb-0">Dados</h2>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Os colaboradores têm acesso adequado e seguro aos dados relevantes para suas funções e tomada de decisões.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados1" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados1" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados1" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados1" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados1" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Dados1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Estamos conscientes e preparados para os desafios que os ambientes regulatórios apresentam para o uso e tratamento de dados no setor e mercado em que atuamos.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados2" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados2" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados2" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados2" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados2" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Dados2" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Utiliza ferramentas e possui habilidades necessárias para coletar, analisar e usar dados de forma eficaz em nossas operações.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados3" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados3" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados3" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados3" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados3" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Dados3" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Utiliza os dados para identificar oportunidades de negócios e gerar valor, seja por meio de novos produtos, serviços ou estratégias.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados4" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados4" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados4" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados4" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados4" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Dados4" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Temos conhecimento e treinamos os funcionários na legislação sobre privacidade, proteção de dados e transparência no uso de dados nos nossos clientes,
                    como a Lei Geral de Proteção de Dados (LGPD).
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados5" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados5" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados5" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados5" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Dados5" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Dados5" class="text-danger text-center"></span>
        </div>

        <!---TECNOLOGIAS-->
        <div class="card-subtitle bg-gradient mb-2 text-center rounded-5 w-75 m-auto mb-4">
            <h2 class="text-white py-1 mb-0">Tecnologias</h2>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Utiliza a tecnologia para criar uma conexão direta e interativa entre o cliente e as ofertas da empresa.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia1" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia1" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia1" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia1" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia1" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Tecnologia1" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    No último ano foram introduzidos processos ou contratações de novas tecnologias na empresa.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia2" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia2" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia2" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia2" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia2" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Tecnologia2" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Utiliza serviços de computação em nuvem para armazenar e compartilhar arquivos com os colaboradores e clientes.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia3" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia3" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia3" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia3" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia3" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Tecnologia3" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Você conhece os benefícios que as tecnologias digitais podem trazer para o curto, médio e longo prazo à sua empresa.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia4" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia4" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia4" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia4" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia4" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Tecnologia4" class="text-danger text-center"></span>
        </div>
        <div class="row ">
            <div class="row text-center">
                <h5>
                    Os colaboradores usam dispositivos móveis com aplicativos dedicados ao trabalho e com conexão à internet.
                </h5>
            </div>
            <div class="row card-body">
                <div class="row col-3"></div>
                <div class="row col-1"></div>
                <p class="col-auto text-end">Discordo totalmente</p>
                <div class="form-check col-auto text-center">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia5" value="20">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia5" value="40">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia5" value="60">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia5" value="80">
                </div>
                <div class="form-check col-auto">
                    <input class="form-check-input border-primary" type="radio" asp-for="Tecnologia5" value="100">
                </div>
                <p class="col-auto text-start">Concordo totalmente</p>
            </div>
            <span asp-validation-for="Tecnologia5" class="text-danger text-center"></span>
        </div>



        @* // TESTES HELLYTON *@
        
       @*  <div class="container px-2" style="max-width: 70%;">
            <div class="form-floating pb-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Digite seu nome completo:</p>
                <input asp-for="Name" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Qual seu E-mail?</p>
                <input asp-for="Email" class="form-control border-2 shadow p-4" style="border-radius: 25px" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Qual seu número de telefone (com DDD)?</p>
                <input asp-for="PhoneNumber" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>


            <!--RATIO FORM - CARGO-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual seu cargo?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Estagiário">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Estagiário
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Auxiliar">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Auxiliar
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Analista">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Analista
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Gerente">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Gerente
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Coordenador">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Coordenador
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Diretor">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Diretor
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Consultor">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Consultor
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Outro">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Outro
                        </label>
                    </div>
                </div>
                <span asp-validation-for="RolePosition" class="text-danger"></span>
            </div>

            <!--RATIO FORM - DEPARTAMENTO-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual sua área dentro da empresa?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Administrativo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Administrativo
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Marketing">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Marketing
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Jurídico">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Jurídico
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Produção">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Produção
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Diretoria">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Diretoria
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Comercial">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Comercial
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Financeiro">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Financeiro
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Design">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Design
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Tecnologia da Informação">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Tecnologia da Informação
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Outra">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Outra
                        </label>
                    </div>
                </div>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>


            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Razão social/Nome da empresa</p>
                <input asp-for="CompanySocialName" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
                @*                     <label asp-for="CompanySocialName" class="ms-2"></label> 
                <span asp-validation-for="CompanySocialName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">CNPJ</p>
                <input asp-for="CompanyCNPJ" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
                @*                     <label asp-for="CompanyCNPJ" class="ms-2"></label> 
                <span asp-validation-for="CompanyCNPJ" class="text-danger"></span>
            </div>

            <!--SELECT - ESTADO DO BRASIL-->
            <div class="form-floating py-2 col-12">
                
                <p class="text-primary fw-bolder fs-4 mb-1">Qual a UF de sua empresa?</p>
                <select asp-for="CompanyState" class="form-select border-0 shadow py-0 px-2" style="border-radius: 25px; max-width: 50%">
                    <option disabled selected>--Selecione seu estado--</option>
                    <option>AC - Acre</option>
                    <option>AL - Alagoas</option>
                    <option>AP - Amapá</option>
                    <option>AM - Amazonas</option>
                    <option>BA - Bahia</option>
                    <option>CE - Ceará</option>
                    <option>DF - Distrito Federal</option>
                    <option>ES - Espírito Santo</option>
                    <option>GO - Goiás</option>
                    <option>MA - Maranhão</option>
                    <option>MT - Mato Grosso</option>
                    <option>MS - Mato Grosso do Sul</option>
                    <option>MG - Minas Gerais</option>
                    <option>PA - Pará</option>
                    <option>PB - Paraíba</option>
                    <option>PR - Paraná</option>
                    <option>PE - Pernambuco</option>
                    <option>PI - Piauí</option>
                    <option>RJ - Rio de Janeiro</option>
                    <option>RN - Rio Grande do Norte</option>
                    <option>RS - Rio Grande do Sul</option>
                    <option>RO - Rondônia</option>
                    <option>RR - Roraima</option>
                    <option>SC - Santa Catarina</option>
                    <option>SP - São Paulo</option>
                    <option>SE - Sergipe </option>
                    <option>TO - Tocantins</option>
                </select>
                @*                     <label asp-for="CompanyState" class="ms-2"></label> 
                <span asp-validation-for="CompanyState" class="text-danger"></span>
            </div>

            <!--RATIO FORM - RECEITA EMPRESA-->
            <p class="text-primary fw-bolder fs-4 mb-0">Qual o tamanho da sua empresa?</p>
            <p class="text-dark fw-light fs-5 mb-1">(Classificação segundo BNDES, considerando a RENDA ou a RECEITA OPERACIONAL BRUTA ANUAL)</p>
            <div class="row m-sm-auto py-2">
                <div class="col-12">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="MEI">
                        <label class="form-check-label" for="flexRadioDefault1">
                            MEI (Receita ≤ R$ 81 mil)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="Microempresa">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Microempresa (Receita > R$ 81 mil ≤ R$ 360 mil)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="Pequena Empresa">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Pequena Empresa (Receita > R$ 360 mil ≤ R$ 4,8 milhões)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="Media Empresa">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Média Empresa (Receita > R$ 4,8 milhões ≤ R$ 300 milhões)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="Grande Empresa">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Grande Empresa (Receita > R$ 300 milhões)
                        </label>
                    </div>
                    <span asp-validation-for="CompanyRevenue" class="text-danger"></span>
                </div>
            </div>

            <!--RATIO FORM - DEPARTAMENTO-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual é o principal setor de atividade de sua empresa?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Construção Civil">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Construção Civil
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Educação">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Educação
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Finaceiro">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Finaceiro
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Contabilidade">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Contabilidade
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Saúde">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Saúde
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Tecnologia">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Tecnologia
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Indústria">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Indústria
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Serviços">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Serviços
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Transporte">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Transporte
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Varejo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Varejo
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Imobiliário">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Imobiliário
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Turismo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Turismo
                        </label>
                    </div>
                </div>
                <span asp-validation-for="CompanySector" class="text-danger"></span>
            </div>

            <!--RATIO FORM - TAMANHO DA EMPRESA-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual é o principal setor de atividade de sua empresa?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySize" value="Até 19 colaboradores">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Até 19 colaboradores
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySize" value="Entre 100 e 499 colaboradores">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Entre 100 e 499 colaboradores
                        </label>
                    </div>

                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySize" value="Entre 20 e 99 colaboradores">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Entre 20 e 99 colaboradores
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySize" value="Mais de 500 colaboradores">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Mais de 500 colaboradores
                        </label>
                    </div>

                </div>
                <span asp-validation-for="CompanySize" class="text-danger"></span>
            </div>
        </div>
 *@


        <div class="card-body px-4 mx-4">
            <div class="row pt-2 text-center">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-primary form-control rounded-4">Avançar</button>
                </div>
                @*                 <div class="col-6 col-md-3">
                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border bg-white text-dark form-control rounded-4">
                Voltar ao Início
                </a>
                </div> *@
            </div>
        </div>
    </form>


</div>


<div class="w-25">
    <br />
</div>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}