@{
    ViewData["Title"] = "Contato";
}
@model AssessmentForm
@{
    bool teste;
    var obj = Model;

    bool modalTeste;
}





<h2 class="bg-transparent text-uppercase text-primary fw-bolder my-5 text-center m-auto" style="max-width: 80%">
    COMO SUA EMPRESA ESTÁ EM RELAÇÃO A MATURIDADE DIGITAL?
</h2>
<p class="m-auto fs-5 mb-4" style="max-width: 80%; text-align: justify;">
    Aqui você está a poucos passos de saber um pouco mais sobre como sua organização está posicionada e
    descobrir alguns insights que podem mudar o futuro do seu negócio.
</p>


<!-- ABAS DE CONTATO / INFO / QUESTÕES-->
<div class="row m-auto" style="max-width: 70%; border-radius:50px; min-height: 50px;">
    <div class="col-auto row bg-primary rounded-top-4 text-light align-items-center mx-1 px-2">
        <div class="col-auto px-1">
            <img src="~/lib/images/icons/icons8-group-50.png" style="max-width: 2em;" />
        </div>
        <p class="col-auto mb-0">Contato</p>
    </div>
    <div class="col-auto row rounded-top-4 text-light align-items-center mx-1 px-2" style="background-color: grey">
        <div class="col-auto px-1">
            <img src="~/lib/images/icons/icons8-info-50.png" class="" style="max-width: 2em;" />
        </div> 
        <p class="col-auto mb-0 px-1 d-none d-lg-block">Formulário</p>
    </div>
    <div class="col-auto row rounded-top-4 text-light align-items-center mx-1 px-2" style="background-color: grey">
        <div class="col-auto px-1">
            <img src="~/lib/images/icons/icons8-innovation-80.png" style="max-width: 2em;" />
        </div>
        <p class="col-auto mb-0 d-none d-lg-block">Questões</p>
    </div>
</div>


<div class="card shadow border-0 mb-4 m-auto rounded-5 bg-grey" style="max-width: 80%; border-radius:50px;">
   
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h3 class="text-primary fw-bolder text-uppercase py-1">Informações Gerais</h3>
        </div>
    </div>

    <div class="card-body px-4 py-1">
        <!-- <form method="post" >  -->
        <form method="post" >

            <!--NAME-->
            <div class="form-floating pb-2 col-12">
                <div class="row">
                    <p class="col-auto text-primary fw-bolder fs-4 mb-1">
                        Digite seu nome completo:
                    </p>
                    <span class="col-auto fst-italic align-content-center px-0">(OPCIONAL)</span>
                </div>
                
                <input asp-for="Name" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
               @*  <span asp-validation-for="Name" class="text-danger"></span> *@
            </div>
            <!--EMAIL-->
            <div class="form-floating py-2 col-12">
                <div class="row">
                    <p class="col-auto text-primary fw-bolder fs-4 mb-1">Qual seu e-mail de contato?</p>
                    <span class="col-auto fst-italic align-content-center px-0">(OPCIONAL)</span>
                </div>
                <input asp-for="Email" class="form-control border-2 shadow p-4" style="border-radius: 25px" />
                @* <label asp-for="Email" class="ms-2"></label> *@
               @*  <span asp-validation-for="Email" class="text-danger"></span> *@
            </div>
            <div class="form-floating py-2 col-12 d-none">
                <div class="row">
                    <p class="col-auto text-primary fw-bolder fs-4 mb-1">Qual seu número de telefone (com DDD)?</p>
                    <span class="col-auto fst-italic align-content-center px-0">(OBRIGATÓRIO)</span>
                </div>
                <input asp-for="PhoneNumber" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px"/>

                @*                     <label asp-for="PhoneNumber" class="ms-2"></label> *@
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <!--RATIO FORM - GRAU DE FORMAÇÃO-->
            <div class="row">
                <p class="col-auto text-primary fw-bolder fs-4 my-1">Qual seu grau de formação?</p>
                <span class="col-auto fst-italic align-content-center px-0">(OBRIGATÓRIO)</span>
            </div>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="EF incompleto">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Não completei o Ensino Fundamental
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Ens Fund.">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Ensino Fundamental
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Ens Medio">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ensino Médio
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="E. Técnico">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ensino Técnico
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Ens Sup">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ensino Superior
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Pós-graduação">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Pós-graduação (Especialização, MBA)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Mestrado">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mestrado
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Doutorado">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Doutorado
                        </label>
                    </div>
                    <div class="form-check col-12 d-none">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Pós-Doutorado">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Pós-Doutorado
                        </label>
                    </div>
                </div>
                <span asp-validation-for="GrauInstrucao" class="text-danger"></span>
            </div>

            <!-- TESTE -->
            <input asp-for="Name" class="form-control border-2 shadow py-0 px-4 d-none" style="border-radius: 25px" />
            <input asp-for="Email" class="form-control border-2 shadow p-4 d-none" style="border-radius: 25px" />

            <!--CHAMA MODAL TERMOS DE USO-->
            <div class="col-auto align-content-center form-check mx-3 my-3 d-none">
                <input class="form-check-input" type="checkbox" asp-for="TermosDeUso" value="true" id="flexCheckDefault">
                
                <p class="form-check-label align-content-center pb-0 mb-0">
                    Concordo com os <a class="link-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Termos de Uso</a>
                </p>
                <span asp-validation-for="TermosDeUso" class="text-danger"></span>
            </div>

            <!--SUBMIT FORM - AVANÇAR / RETORNAR   -->
            <div class="row pt-2 align-content-center justify-content-between">
                <div class="col-auto col-md-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary border text-dark form-control rounded-4 fw-bold sombra">
                        VOLTAR AO INÍCIO
                    </a>
                </div>
                
                <div class="col-auto">
                    <h4 class="fw-bolder">1/3</h4>
                </div>
                <div class="col-auto col-md-3">
                    <button type="submit" asp-controller="AssessmentForm" asp-action="Index" class="btn-blue form-control text-light rounded-4 fw-bold sombra" >
                        AVANÇAR
                    </button>
                </div>    
            </div>


            <br />

        </form>
    </div>


</div>
<br />
<br />
<br />
<br />




@section Scripts {
    @{
            <partial name="_ValidationScriptsPartial" />
    }
}