@{
    ViewData["Title"] = "Contato";
}
@model AssessmentForm
@{
    bool teste;
    var obj = Model;
}

<!-- MODAL --> 
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" data-bs-backdrop="static">
    <div class="modal-dialog" style="min-width:60%; max-width:62%;">
        <div class="modal-content bg-grey rounded-4 px-5">
            <div class="modal-header text-center m-auto border-0">

            </div>
            <div class="modal-body p-3 border-0">
                <p class="fs-5">
                    Para garantir um diagnóstico preciso da maturidade digital do seu negócio, dedique pelo menos 20 minutos para completar esta avaliação. 
                    Ao prosseguir, você consente que Luan Dondé dos Santos colete e processe seus dados pessoais exclusivamente para o propósito de avaliar 
                    o nível de maturidade digital da empresa que você representa, como parte do Trabalho de Conclusão de Curso (TCC) do aluno 
                    Luan Dondé dos Santos, no âmbito do Mestrado Profissional em Propriedade Intelectual e 
                    Transferência de Tecnologia para Inovação da Universidade Federal de Santa Catarina (UFSC), sob orientação do Prof. Irineu Afonso Frey, Dr.
                </p>
                <p class="fs-5">
                    Asseguramos que seus dados pessoais não serão compartilhados com terceiros e serão manejados com a máxima confidencialidade. 
                    Você tem o direito de solicitar a remoção de suas informações a qualquer momento antes da compilação dos dados. 
                    Para tal, basta enviar um pedido para o e-mail <b>luan@transformeseu.digital</b>.
                </p>
                <p class="fs-5">
                    Lembramos que este processo é fundamental para fornecer insights 
                    precisos e personalizados para o desenvolvimento digital do seu negócio. 
                    Agradecemos sua confiança e compromisso com a transformação digital!
                </p>

            </div>
            <div class="modal-footer col-auto align-content-center justify-content-center form-check p-0 my-1 border-0">
                <input class="form-check-input" id="modalInput" type="checkbox"  name="modalInput" required>

                <p class="form-check-label align-content-center pb-0 mb-0">
                    Concordo com os Termos de Uso
                </p>
                <span aria-checked="true"></span>
            </div>

            <div class="modal-footer m-auto border-0">
                <button type="button" id="btnSave" class="btn bg-gradient rounded-3 text-light border-0" data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>



<h2 class="bg-transparent text-uppercase text-primary fw-bolder my-5 text-center m-auto" style="max-width: 80%">
    COMO SUA EMPRESA ESTÁ EM RELAÇÃO A MATURIDADE DIGITAL?
</h2>
<p class="m-auto fs-5 mb-4" style="max-width: 80%; text-align: justify;">
    Aqui você está a poucos passos de saber um pouco mais sobre como sua organização está posicionada e
    descobrir alguns insights que podem mudar o futuro do seu negócio.
</p>


<!-- ABAS DE CONTATO / INFO / QUESTÕES-->
<div class="row m-auto" style="max-width: 70%; border-radius:50px; min-height: 50px;">
    <div class="col-auto row bg-primary rounded-top-4 text-light align-items-center mx-1 px-2">
        <div class="col-auto px-1">
            <img src="~/lib/images/icons/icons8-group-50.png" style="max-width: 2em;" />
        </div>
        <p class="col-auto mb-0 d-none d-lg-block">Contato</p>
    </div>
    <div class="col-auto row rounded-top-4 text-light align-items-center mx-1 px-2" style="background-color: grey">
        <div class="col-auto px-1">
            <img src="~/lib/images/icons/icons8-info-50.png" class="" style="max-width: 2em;" />
        </div> 
        <p class="col-auto mb-0 px-1 d-none d-lg-block">Formulário</p>
    </div>
    <div class="col-auto row rounded-top-4 text-light align-items-center mx-1 px-2" style="background-color: grey">
        <div class="col-auto px-1">
            <img src="~/lib/images/icons/icons8-innovation-80.png" style="max-width: 2em;" />
        </div>
        <p class="col-auto mb-0 d-none d-lg-block">Questões</p>
    </div>
</div>


<div class="card shadow border-0 mb-4 m-auto rounded-5 bg-grey" style="max-width: 80%; border-radius:50px;">
   
    <div class="row">
        <div class="col-12 text-center mt-3">
            <h3 class="text-primary fw-bolder text-uppercase py-1">Informações Gerais</h3>
        </div>
    </div>

    <div class="card-body px-4 py-1">
        <!-- <form method="post" >  -->
        <form method="post" >

            <!--NAME-->
            <div class="form-floating pb-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">
                    Digite seu nome completo:
                </p>
                <input asp-for="Name" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <!--EMAIL-->
            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Qual seu E-mail?</p>
                <input asp-for="Email" class="form-control border-2 shadow p-4" style="border-radius: 25px" />
                @* <label asp-for="Email" class="ms-2"></label> *@
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Qual seu número de telefone (com DDD)?</p>
                <input asp-for="PhoneNumber" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
                @*                     <label asp-for="PhoneNumber" class="ms-2"></label> *@
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>

            <!--RATIO FORM - GRAU DE INSTRUÇÃO-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual seu grau de instrução?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="EF incompleto">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ensino Fundamental incompleto
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="EF completo">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Ensino Fundamental completo
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="EM incompleto">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ensino Médio incompleto
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="EM completo">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Ensino Médio completo
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="E. Técnico">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ensino Técnico
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="ES incompleto">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ensino Superior incompleto
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="ES completo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Ensino Superior completo
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Pós-graduação">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Pós-graduação (Especialização, MBA)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Mestrado">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Mestrado
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Doutorado">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Doutorado
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="GrauInstrucao" value="Pós-Doutorado">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Pós-Doutorado
                        </label>
                    </div>
                </div>
                <span asp-validation-for="GrauInstrucao" class="text-danger"></span>
            </div>




            <!--CHAMA MODAL TERMOS DE USO-->
            <div class="col-auto align-content-center form-check mx-3 my-3 d-none">
                <input class="form-check-input" type="checkbox" asp-for="TermosDeUso" value="true" id="flexCheckDefault">
                
                <p class="form-check-label align-content-center pb-0 mb-0">
                    Concordo com os <a class="link-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">Termos de Uso</a>
                </p>
                <span asp-validation-for="TermosDeUso" class="text-danger"></span>
            </div>

            <!--SUBMIT FORM - AVANÇAR / RETORNAR   -->
            <div class="row pt-2 align-content-center justify-content-between">
                <div class="col-auto col-md-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-secondary border text-dark form-control rounded-4 fw-bold sombra">
                        VOLTAR AO INÍCIO
                    </a>
                </div>
                
                <div class="col-auto">
                    <h4 class="fw-bolder">1/4</h4>
                </div>
                <div class="col-auto col-md-3">
                    <button type="submit" asp-controller="AssessmentForm" asp-action="Index" class="btn-blue form-control text-light rounded-4 fw-bold sombra" >
                        AVANÇAR
                    </button>
                </div>    
            </div>


            <br />

        </form>
    </div>


</div>
<br />
<br />
<br />
<br />

<script>
$(document).ready(function(){
    $('#myModal').modal('show');
});
</script>
<script>
    $(document).ready(function () {
        $('#btnSave').click(function () {
            var value = $('#modalInput').val(); // Captura o valor do campo de entrada
            var valorCheckbox = $('#modalInput').prop("checked");
            // Envia o valor de volta para o servidor usando AJAX
            $.ajax({
                type: "POST",
                url: "@Url.Action("ReceberValorDoModal", "AssessmentForm")", // Substitua pelo URL correto do seu controller
                data: { valorCheckbox: valorCheckbox }
            });
        });
    });
</script>


@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}