@{
    ViewData["Title"] = "Página Inicial";
}


<div class="bg-main-image mb-0 pb-0">
@*     <div class="row container py-5 bg-transparent m-sm-auto m-auto" style="min-height:500px">
        <div class="col-md-6  align-content-center">
            <h1 class="text-center text-white fw-bold " >
                +100 NEGÓCIOS TRANSFORMADOS
            </h1>
        </div>

        <div class="col-md-6   align-content-center">
            <h3 class="text-end text-white">
                AJUDO VOCÊ A TRANSFORMAR SUA JORNADA, DO EMPREENDEDOR AO NEGÓCIO
            </h3>
        </div>
    </div> *@
    <br />


    <div class="row py-5 container m-auto my-5" style="min-height: 320px;">
        <div class="col-md-6 px-2 align-content-center  ">
            <h2 class=" text-white fw-bolder">
                Descubra o nível de maturidade digital da sua empresa. 
                Realize agora uma pesquisa e tenha a resposta em alguns segundos
            </h2>
        </div>
        <div class="mobile-display"></div>
        <div class="col-md-6 text-center align-content-center">
            <a asp-controller="AssessmentForm" asp-action="Index">
                <button type="button" class="btn btn-primary fs-4 shadow-lg bg-gradient border-0 px-3 py-3 rounded-4 fw-medium"
                        style="min-width:50%; min-height:20%;">
                    COMECE AGORA
                </button>
            </a>
        </div>
    </div>
    <br class="mobile-display" />
    <br class="mobile-display" />
    <br class="mobile-display" />


    <!--EXPLANATION - TRANSFORMAÇÃO DIGITAL-->
    <div class="card bg-gradient  py-3 text-center" style="min-height:400px">
        <h2 class="text-white text-uppercase my-5 mx-4">Descubra os pilares da Transformação Digital</h2>
     
            <!--ITENS DA TRANSFORMAÇÃO DIGITAL-->
        <div class="wrapper m-auto" style="max-width:80%;">

            <div class="cols">
                <!-- CAROUSEL - CULTURA E PESSOAS -->
                <div class="carousel-col" ontouchstart="this.classList.toggle('hover');">
                    <div class="carousel-card">
                        <div class="front bg-primary">
                            <div class="inner">
                                <p class="fs-5">CULTURA E PESSOAS</p>
                                <img src="~/lib/images/icons/icons8-group-50.png" class="bg-transparent" />
                            </div>
                        </div>
                        <div class="back text-start bg-primary">
                            <div class="inner">
                                <h5 style="font-size: .55em;">
                                    Esta categoria enfoca a importância da cultura organizacional e do capital humano 
                                    na jornada de transformação digital. Uma cultura digitalmente madura encoraja a colaboração, 
                                    inovação e flexibilidade. Pessoas são os principais agentes de mudança; 
                                    portanto, investir em suas habilidades digitais e adaptabilidade é crucial. 
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAROUSEL - EXPERIÊNCIA DO CLIENTE -->
                <div class="carousel-col" ontouchstart="this.classList.toggle('hover');">
                    <div class="carousel-card">
                        <div class="front bg-primary">
                            <div class="inner">
                                <p class="fs-5">EXPERIÊNCIA DO CLIENTE</p>
                                <img src="~/lib/images/icons/icons8-shopping-bag-50.png" class="bg-transparent" />
                            </div>
                        </div>
                        <div class="back bg-primary">
                            <div class="inner text-start">
                                <h5 style="font-size: .55em;">
                                    Esta categoria enfoca a importância da cultura organizacional e do capital 
                                    humano na jornada de transformação digital. Uma cultura digitalmente madura 
                                    encoraja a colaboração, inovação e flexibilidade. Pessoas são os principais 
                                    agentes de mudança; portanto, investir em suas habilidades digitais e 
                                    adaptabilidade é crucial.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAROUSEL - MERCADO E CONCORRÊNCIA -->
                <div class="carousel-col" ontouchstart="this.classList.toggle('hover');">
                    <div class="carousel-card">
                        <div class="front bg-primary" >
                            <div class="inner">
                                <p class="fs-5">MERCADO E CONCORRÊNCIA</p>
                                <img src="~/lib/images/icons/icons8-leaderboard-50.png" class="bg-transparent" />
                            </div>
                        </div>
                        <div class="back bg-primary">
                            <div class="inner text-start">
                                <h5 style="font-size: .55em;">
                                    Esta categoria aborda a compreensão do ambiente de mercado e a 
                                    posição da empresa em relação aos concorrentes. Inclui a análise de 
                                    tendências do setor, adaptação às mudanças do mercado e benchmarking 
                                    contra concorrentes. A transformação digital neste contexto implica em 
                                    permanecer competitivo e inovador, entendendo e reagindo rapidamente às 
                                    oportunidades e desafios do mercado.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAROUSEL - INOVAÇÃO -->
                <div class="carousel-col" ontouchstart="this.classList.toggle('hover');">
                    <div class="carousel-card">
                        <div class="front bg-primary">
                            <div class="inner">
                                <p class="fs-5">INOVAÇÃO</p>
                                <img src="~/lib/images/icons/icons8-innovation-80.png" style="max-width:50px;" class="bg-transparent" />
                                
                            </div>
                        </div>
                        <div class="back bg-primary">
                            <div class="inner text-start">
                                <h5 style="font-size: .57em;">
                                    Inovação na transformação digital significa integrar novas tecnologias e 
                                    ideias para criar valor. Isso pode envolver o desenvolvimento de novos 
                                    produtos e serviços ou a melhoria de processos e modelos de negócio existentes. 
                                    Uma abordagem inovadora requer uma cultura que apoie a experimentação e aceite 
                                    o risco, além de processos que permitam a rápida implementação e iteração de ideias.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAROUSEL - PROCESSOS -->
                <div class="carousel-col" ontouchstart="this.classList.toggle('hover');">
                    <div class="carousel-card">
                        <div class="front bg-primary">
                            <div class="inner">
                                <p class="fs-5">PROCESSOS</p>
                                <img src="~/lib/images/icons/icons8-process-improvement-50.png" class="bg-transparent" />
                            </div>
                        </div>
                        <div class="back bg-primary">
                            <div class="inner text-start">
                                <h5 style="font-size: .57em;">
                                    Os processos na transformação digital referem-se à otimização e automatização 
                                    dos processos de negócio. Isso inclui a digitalização de processos manuais 
                                    para aumentar a eficiência, reduzir custos e melhorar a qualidade. 
                                    Processos eficientes e automatizados permitem que a empresa seja mais 
                                    ágil e adaptável às mudanças do mercado e às necessidades dos clientes.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAROUSEL - MODELOS DE NEGÓCIO -->
                <div class="carousel-col" ontouchstart="this.classList.toggle('hover');">
                    <div class="carousel-card">
                        <div class="front bg-primary">
                            <div class="inner">
                                <p class="fs-5">MODELOS DE NEGÓCIO</p>
                                <img src="~/lib/images/icons/icons8-business-50.png" class="bg-transparent" />  
                            </div>
                        </div>
                        <div class="back bg-primary">
                            <div class="inner text-start">
                                <h5 style ="font-size: .60em;">
                                    Esta categoria envolve repensar e modificar o modelo de negócio da empresa 
                                    para aproveitar as vantagens das tecnologias digitais. Pode significar a 
                                    introdução de novos canais de distribuição digital, modelos de receita 
                                    ou a transformação da maneira como a empresa cria, entrega e captura valor. 
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAROUSEL - DADOS -->
                <div class="carousel-col" ontouchstart="this.classList.toggle('hover');">
                    <div class="carousel-card">
                        <div class="front bg-primary" >
                            <div class="inner">
                                <p class="fs-5">DADOS</p>
                                <img src="~/lib/images/icons/icons8-big-data-50.png" class="bg-transparent" />
                            </div>
                        </div>
                        <div class="back bg-primary">
                            <div class="inner text-start">
                                <h5 style="font-size: 60%;">
                                    A gestão de dados é central para a transformação digital. Envolve a coleta, 
                                    análise e utilização de dados para informar a tomada de decisão, otimizar 
                                    operações e personalizar a experiência do cliente. Dados precisos e acessíveis 
                                    são um recurso valioso que permite às empresas serem mais proativas, previsíveis 
                                    e inovadoras em suas estratégias.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- CAROUSEL - TECNOLOGIAS -->
                <div class="carousel-col" ontouchstart="this.classList.toggle('hover');">
                    <div class="carousel-card">
                        <div class="front bg-primary">
                            <div class="inner">
                                <p class="fs-5">TECNOLOGIAS</p>
                                <img src="~/lib/images/icons/icons8-laptop-64.png" style="max-width:50px;" class="bg-transparent" />
                            </div>
                        </div>
                        <div class="back bg-primary">
                            <div class="inner text-start ">
                                <h5 style="font-size: .55em;">
                                    Esta categoria abrange a adoção e integração de tecnologias digitais na empresa. 
                                    Inclui infraestrutura de TI, software, plataformas em nuvem, inteligência 
                                    artificial, internet das coisas (IoT), entre outros. A escolha e implementação 
                                    de tecnologias apropriadas são fundamentais para habilitar todas as outras áreas 
                                    da transformação digital, permitindo que a empresa opere de maneira mais eficiente,
                                    inovadora e centrada no cliente.
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

    </div>


    <br />
    <br />
   
    <!--CARD LUAN-->
    <div class="" style="min-height:500px">
        <div class="bg-opacity-dark align-content-center py-4">
            <div class=" mb-3 container m-sm-auto text-white align-content-center" style="max-width: 1200px; min-height: 350px; margin:auto">
                <div class="row g-0 m-auto">
                    <div class="col-md-2 mx-5 rounded-circle circle">
                        <img src="~/lib/images/14_JOH_1565.jpg" class="img-fluid rounded-start bg-transparent" style="border: 50%; transform: scale(1.6); zoom: 200%;" alt="Foto Luan Donde">
                    </div>
                    <div class="col-md-7 px-4 mt-1">
                        <div class="card-body p-0" id="card-luan">
                            @* <h3 class="card-title display-3">Luan Donde</h3> *@

                            <p class="text-white mb-0">
                                <h4 class="text-white mb-0">Mestrando em Propriedade Intelectual e Transferência de Tecnologia para Inovação pela UFSC</h4>
                            </p>
                            <div class="row text-center m-auto">
                                <a class="col-auto navbar-nav mx-0 px-0" target="_blank" href="https://wa.me/5549999128510?text=Ol%C3%A1%21+Venho+do+seu+site+sobre+transforma%C3%A7%C3%A3o+digital.">
                                    <img class="mx-2 card-img" style="max-width:40px;" src="~/lib/images/icons/whatsapp.png"/>
                                </a>
                                <a class="col-auto navbar-nav mx-0 px-0" target="_blank" href="https://www.instagram.com/luandonde/">
                                    <img class="mx-2 card-img" style="max-width:40px;" src="~/lib/images/icons/instagram.png"/>
                                </a>
                                <a class="col-auto navbar-nav mx-0 px-0" target="_blank" href="https://www.linkedin.com/in/luan-dond%C3%A9-044998265/">
                                    <img class="mx-3 card-img" style="max-width:40px;" src="~/lib/images/icons/logo-linkedin.png" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>