@{
    ViewData["Title"] = "Contato";
}
@model AssessmentForm
@{
    var obj = Model;
}

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Launch static backdrop modal
</button>

<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Modal title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
    </div>
</div>


<h2 class="bg-transparent text-uppercase text-primary fw-bolder my-5 text-center m-auto" style="max-width: 80%">
    COMO SUA EMPRESA ESTÁ EM RELAÇÃO A MATURIDADE DIGITAL?
</h2>
<p class="m-auto fs-5" style="max-width: 80%; text-align: justify;">
    Aqui você está a poucos passos de saber um pouco mais sobre como sua organização está posicionada e
    descobrir alguns insights que podem mudar o futuro do seu negócio.</p>


<div class="card shadow border-0 my-4 m-auto rounded-5 bg-grey" style="max-width: 80%; border-radius:50px;">

        <div class="row">
            <div class="col-12 text-center mt-3">
                <h3 class="text-primary fw-bolder text-uppercase py-1">Informações Gerais</h3>
            </div>
        </div>

    <div class="card-body px-4 py-1">
        <form method="post" class="row">
            @* <div class="border-0 px-3 py-2"> *@
            @* <div asp-validation-summary="ModelOnly"></div> *@
            <div class="form-floating pb-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Digite seu nome completo:</p>
                <input asp-for="Name" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
                @*  <label asp-for="Name" class="ms-2"></label> *@
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Qual seu E-mail?</p>
                <input asp-for="Email" class="form-control border-2 shadow p-4" style="border-radius: 25px"/>
                @* <label asp-for="Email" class="ms-2"></label> *@
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Qual seu número de telefone (com DDD)?</p>
                <input asp-for="PhoneNumber" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
@*                     <label asp-for="PhoneNumber" class="ms-2"></label> *@
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>


            <!--RATIO FORM - CARGO-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual seu cargo?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Estagiário">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Estagiário
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Auxiliar">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Auxiliar
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Analista">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Analista
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Gerente">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Gerente
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Coordenador">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Coordenador
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Diretor">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Diretor
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Consultor">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Consultor
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="RolePosition" value="Outro">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Outro
                        </label>
                    </div>
                </div>
                <span asp-validation-for="RolePosition" class="text-danger"></span>
            </div>
                    
            <!--RATIO FORM - DEPARTAMENTO-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual sua área dentro da empresa?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Administrativo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Administrativo
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Marketing">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Marketing
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Jurídico">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Jurídico
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Produção">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Produção
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Diretoria">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Diretoria
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Comercial">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Comercial
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Financeiro">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Financeiro
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Design">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Design
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Tecnologia da Informação">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Tecnologia da Informação
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="Department" value="Outra">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Outra
                        </label>
                    </div>
                </div>
                <span asp-validation-for="Department" class="text-danger"></span>
            </div>


            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">Razão social/Nome da empresa</p>
                <input asp-for="CompanySocialName" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
@*                     <label asp-for="CompanySocialName" class="ms-2"></label> *@
                <span asp-validation-for="CompanySocialName" class="text-danger"></span>
            </div>
            <div class="form-floating py-2 col-12">
                <p class="text-primary fw-bolder fs-4 mb-1">CNPJ</p>
                <input asp-for="CompanyCNPJ" class="form-control border-2 shadow py-0 px-4" style="border-radius: 25px" />
@*                     <label asp-for="CompanyCNPJ" class="ms-2"></label> *@
                <span asp-validation-for="CompanyCNPJ" class="text-danger"></span>
            </div>

            <!--SELECT - ESTADO DO BRASIL-->
            <div class="form-floating py-2 col-12">
                @*asp-for="CompanyState"*@
                <p class="text-primary fw-bolder fs-4 mb-1">Qual a UF de sua empresa?</p>
                <select asp-for="CompanyState" class="form-select border-0 shadow py-0 px-2" style="border-radius: 25px; max-width: 50%">
                    <option disabled selected>--Selecione seu estado--</option>
                    <option>AC - Acre</option>
                    <option>AL - Alagoas</option>
                    <option>AP - Amapá</option>
                    <option>AM - Amazonas</option>
                    <option>BA - Bahia</option>
                    <option>CE - Ceará</option>
                    <option>DF - Distrito Federal</option>
                    <option>ES - Espírito Santo</option>
                    <option>GO - Goiás</option>
                    <option>MA - Maranhão</option>
                    <option>MT - Mato Grosso</option>
                    <option>MS - Mato Grosso do Sul</option>
                    <option>MG - Minas Gerais</option>
                    <option>PA - Pará</option>
                    <option>PB - Paraíba</option>
                    <option>PR - Paraná</option>
                    <option>PE - Pernambuco</option>
                    <option>PI - Piauí</option>
                    <option>RJ - Rio de Janeiro</option>
                    <option>RN - Rio Grande do Norte</option>
                    <option>RS - Rio Grande do Sul</option>
                    <option>RO - Rondônia</option>
                    <option>RR - Roraima</option>
                    <option>SC - Santa Catarina</option>
                    <option>SP - São Paulo</option>
                    <option>SE - Sergipe </option>
                    <option>TO - Tocantins</option>
                </select>
@*                     <label asp-for="CompanyState" class="ms-2"></label> *@
                <span asp-validation-for="CompanyState" class="text-danger"></span>
            </div>

            <!--RATIO FORM - RECEITA EMPRESA-->
            <p class="text-primary fw-bolder fs-4 mb-0">Qual o tamanho da sua empresa?</p>
            <p class="text-dark fw-light fs-5 mb-1">(Classificação segundo BNDES, considerando a RENDA ou a RECEITA OPERACIONAL BRUTA ANUAL)</p>
            <div class="row m-sm-auto py-2">
                <div class="col-12">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="MEI">
                        <label class="form-check-label" for="flexRadioDefault1">
                            MEI (Receita ≤ R$ 81 mil)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="Microempresa">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Microempresa (Receita > R$ 81 mil ≤ R$ 360 mil)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="Pequena Empresa">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Pequena Empresa (Receita > R$ 360 mil ≤ R$ 4,8 milhões)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="Media Empresa">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Média Empresa (Receita > R$ 4,8 milhões ≤ R$ 300 milhões)
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanyRevenue" value="Grande Empresa">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Grande Empresa (Receita > R$ 300 milhões)
                        </label>
                    </div>
                    <span asp-validation-for="CompanyRevenue" class="text-danger"></span>
                </div>
            </div>

            <!--RATIO FORM - DEPARTAMENTO-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual é o principal setor de atividade de sua empresa?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Construção Civil">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Construção Civil
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Educação">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Educação
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Finaceiro">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Finaceiro
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Contabilidade">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Contabilidade
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Saúde">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Saúde
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Tecnologia">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Tecnologia
                        </label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Indústria">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Indústria
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Serviços">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Serviços
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Transporte">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Transporte
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Varejo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Varejo
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Imobiliário">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Imobiliário
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySector" value="Turismo">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Turismo
                        </label>
                    </div>
                </div>
                <span asp-validation-for="CompanySector" class="text-danger"></span>
            </div>

            <!--RATIO FORM - TAMANHO DA EMPRESA-->
            <p class="text-primary fw-bolder fs-4 my-1">Qual é o principal setor de atividade de sua empresa?</p>
            <div class="row m-sm-auto py-2">
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySize" value="Até 19 colaboradores">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Até 19 colaboradores
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySize" value="Entre 100 e 499 colaboradores">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Entre 100 e 499 colaboradores
                        </label>
                    </div>
                    
                </div>
                <div class="col-auto">
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySize" value="Entre 20 e 99 colaboradores">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Entre 20 e 99 colaboradores
                        </label>
                    </div>
                    <div class="form-check col-12">
                        <input class="form-check-input border-primary" type="radio" asp-for="CompanySize" value="Mais de 500 colaboradores">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Mais de 500 colaboradores
                        </label>
                    </div>
                   
                </div>
                <span asp-validation-for="CompanySize" class="text-danger"></span>
            </div>


            @* asp-controller="AssessmentForm" asp-action="Index" *@
            <div class="row pt-2">
                <div class="col-6 col-md-3">
                    <button type="submit" asp-controller="AssessmentForm" asp-action="Formulario" class="btn btn-primary form-control rounded-4">Avançar</button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-primary border bg-white text-dark form-control rounded-4">
                        Voltar ao Início
                    </a>
                </div>
            </div>
            <br />
            <br />
            <br />
        </form>
    </div>


</div>
<br />
<br />
<br />

<script type="text/javascript">
    $(window).on('load', function () {
        $('#staticBackdrop').modal('show');
    });
</script>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}